.home {
  margin: 0 auto;
  height: 1000px;
  width: 1500px;
  background: gray;
  display: flex;
  flex-flow: column wrap-reverse;
  justify-content: space-around;
}

h1 {
  font-family: courier;
  text-align: center;
  font-size: 3em;
}
p {
  font-family: courier;
  margin: 15px;
}

.left {
  background: teal;
  height: 100%;
  width: 53.3%;
}

.right {
  background: orange;
  width: 46.7%;
  height: 100%;
}